NODE_ENV=production

PORT=3020
HOST=127.0.0.1

LEADS_DB_HOST=127.0.0.1
LEADS_DB_PORT=5432
LEADS_DB_NAME=jrcompliance_leads
LEADS_DB_USER=jr_leads_writer
LEADS_DB_PASSWORD=

LEADS_ALLOWED_ORIGINS=https://jrcompliance.com,https://www.jrcompliance.com

LEADS_RATE_LIMIT_MAX=10
LEADS_RATE_LIMIT_WINDOW_MS=60000

TRUST_PROXY_HOPS=1